//Variables
$margin_right: 10px;

@mixin buttonProps(){
  border: 1px blue solid;
  border-radius: 4px;
  &:hover{
    cursor: pointer;
  }
}

* {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

body {
  padding: 3%;
}

form {
  label{
    font-size: 1.4rem;
    margin-right: $margin_right;
  }
  input[type='submit']{
    width: 7%;
    margin: 0 10px 0 10px;
    @include buttonProps();
  }
}

h3{
  display: inline;
}

ul#listMoreSearch{
  padding: 0;
  display: inline-block;
  li{
    color: black;
    text-decoration: underline;
    display: inline-block;
    margin-right: $margin_right;
    padding: 4px;
    background-color: #33D4FF;
    @include buttonProps();

    &:hover{
      transition-duration: 0.5s;
      background-color: #22A0E8;
    }
  }
}

input {
  width: 10%;
  font-size: 1.2rem;
  display: inline-block;
}