//Variables
$margin_right: 10px;

// Animations
@keyframes anim{
  0% {color: #ff0;} /*Amarillo*/
  25% {color: #D93E04;} /*Rojo*/
  50% {color: #2255E8;} /*Azul*/
  75% {color: #0FA722;} /*Verde*/
  100% {color: #ff0;} /*Amarillo*/
}

@mixin colorsChange($other){
  animation-name: anim, $other;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


@mixin buttonProps(){
  border: 1px blue solid;
  border-radius: 4px;
  &:hover{
    cursor: pointer;
  }
}

* {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

body {
  padding: 3%;
}

form {
  label{
    font-size: 1.2rem;
    margin-right: $margin_right;
  }
  input {
    max-width: 30%;
    min-width: 8%;
    font-size: 1.2rem;
    display: inline-block;
  }
  input[type='submit']{
    max-width: 25%;
    min-width: 12%;
    margin-left: 10px;
    max-font-size: 20px;
    min-font-size: 12px;
    @include buttonProps();
  }
  span.errorCategory{
    display: inline-block;
    margin-left: 4px;
    color: #DF331F;
  }
}

ul#listMoreSearch{
  padding: 0;
  display: inline-block;
  li{
    color: black;
    text-decoration: underline;
    display: inline-block;
    margin-right: $margin_right;
    padding: 4px;
    background-color: #33D4FF;
    @include buttonProps();

    &:hover{
      transition-duration: 0.5s;
      background-color: #22A0E8;
    }
  }
}

h2.Title {
  @include colorsChange(pulse);
}

.category{

  list-style-type: none;
  padding: 0;

  li{
    border: 2px dashed black;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
  }
  h3{
    margin-bottom: 25px;
  }

  p.loading {
    font-size: 1.2rem;
    @include colorsChange(flipInX);
  }
}

.card{
  text-align: center;
  border: 1px black solid;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;

  p{
    padding: 5px;
    text-align: center;
  }

  img{
    max-height: 170px;
    animation: fadeInLeft;
    animation-duration: 3s;
  }
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}